{% extends 'base.html' %}
{% load get %}
{% block content %}
<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="card">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <p>Você tem certeza de que deseja apagar "{{ object }}"?</p>
                {{ form }}
                <input class="btn btn-danger mt-2" type="submit" value="Confirmar">
                <a href="/crud/{{ model_endpoint }}">
                    <input class="btn btn-primary mt-2" type="button" value="Voltar">
                </a>
            </form>
        </div>
    </div>
</div>
{% endblock %}