{% extends 'base.html' %}
{% load static %}

{% block title%}
CRUD
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid bg-primary pb-2">
    <div class="container">
        <h1 class="display-3 text-light">CRUD</h1>
        <p class="lead text-light">Interface de cadastro, consulta, modificação e deleção de registros.</p>
    </div>
</div>

<div class="container">
    <div class="row">

        {% if perms.voos.view_voo %}
        <div class="card col-4 m-3" style="width: 18rem;">
            <img class="card-img-top" src="{% static "icons/voo.png" %}" alt="Voos">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Voos</h5>
                <p class="card-text">Listagem, cadastro, alteração e deleção de voos</p>
                <a href="voo" class="btn btn-primary mt-auto">Acessar</a>
            </div>
        </div>
        {% endif %}

        {% if perms.voos.view_companhiaaerea %}
        <div class="card col-4 m-3" style="width: 18rem;">
            <img class="card-img-top" src="{% static "icons/companhia_aerea.png" %}" alt="Companhias aéreas">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Companhias aéreas</h5>
                <p class="card-text">Listagem, cadastro, alteração e deleção de companhias aéreas</p>
                <a href="companhia-aerea" class="btn btn-primary mt-auto">Acessar</a>
            </div>
        </div>
        {% endif %}

        {% if perms.voos.view_instanciavoo %}
        <div class="card col-4 m-3" style="width: 18rem;">
            <img class="card-img-top" src="{% static "icons/list.png" %}" alt="Instâncias de voo">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Instâncias de voo</h5>
                <p class="card-text">Listagem, cadastro, alteração e deleção de instâncias de voo</p>
                <a href="instancia-voo" class="btn btn-primary mt-auto">Acessar</a>
            </div>
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}
