<html>
    <head>
        <title>CRUD</title>
        <style>
            * {
              box-sizing: border-box;
            }
            
            .column {
              float: left;
              width: 33.33%;
              padding: 5px;
            }
            
            /* Clearfix (clear floats) */
            .row::after {
              content: "";
              clear: both;
              display: table;
            }
            </style>
    </head>
    <body>
        <h1>CRUD</h1>
        <div class="row">
            <div class="column">
                <a href="http://localhost:8000/inicio/crud/">
                    <img src="imagemVoo.png" width="125" height="150">
                </a>
            </div>
            <div class="column">
                <a href="http://localhost:8000/inicio/crud/">
                    <img src="diagrama_interface.png" width="125" height="150">
                </a>
            </div>
            <div class="column">
                <a href="http://localhost:8000/inicio/crud/">
                    <img src="diagrama_interface.png" width="125" height="150">
                </a>
            </div>
          </div>
    </body>
</html>