{% extends 'base.html' %}
{% load get %}

{% block title %}
Criação e Modificação de {{ model_name|title }}
{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid bg-primary pb-2">
    <div class="container d-flex justify-content-center">
      <h1 class="display-3 text-light">Criar ou Modificar {{ model_name|title }}</h1>
    </div>
</div>

<div class="container d-flex justify-content-center my-3">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-group mt-2">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
        {% endfor %}

        <input class="btn btn-primary mt-2" type="submit" value="Submeter">
        <a href="/crud/{{ model_endpoint }}">
            <input class="btn btn-secondary mt-2" type="button" value="Voltar">
        </a>
    </form>
</div>
{% endblock %}
