{% extends 'base.html' %}
{% load voos_auth %}
{% load static %}
{% load tz %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
        <a class="navbar-brand p-2" href="#">
            <img src="{% static 'icons/plane.png' %}" width="30" height="30" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% for page_name in base_pages %}
                {% if user|can_view:page_name %}
                <li class="nav-item"><a href="{{ page_name }}" class="nav-link text-white">{{ page_name|title }}</a></li>
                {% endif %}
                {% endfor %}

                <li class="nav-item"><a href="/accounts/login" class="nav-link text-white">Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="container mt-3">
        <h1>Aeroporto Internacional de São Paulo</h1>
        <h5 id="data">
            Data:
        </h5>
        <h5 id="hora">
            Hora:
        </h5>

        <h2>Partidas</h2>
        <table class="table table-striped">
            <tr>
                <th>Companhia Aérea</th>
                <th>Voo</th>
                <th>Status</th>
                <th>Destino</th>
                <th>Partida Prevista</th>
                <th>Partida Real</th>
            </tr>
            {% for partida in partidas %}
            <tr>
                <td>{{ partida.voo.companhia_aerea.nome }}
                <td>{{ partida.voo.codigo }}</td>
                <td>{{ partida.estado_atual.nome }}</td>
                <td>{{ partida.voo.destino }}</td>
                <td>{{ partida.partida_prevista|timezone:"America/Sao_Paulo" }}</td>
                <td>
                    {% if partida.partida_real == None %}
                    {% else %}
                    {{ partida.partida_real|timezone:"America/Sao_Paulo" }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="container mt-3">
        <h2>Chegadas</h2>
        <table class="table table-striped">
            <tr>
                <th>Companhia Aérea</th>
                <th>Voo</th>
                <th>Origem</th>
                <th>Chegada Prevista</th>
                <th>Chegada Real</th>
            </tr>
            {% for chegada in chegadas %}
            <tr>
                <td>{{ chegada.voo.companhia_aerea.nome }}
                <td>{{ chegada.voo.codigo }}</td>
                <td>{{ chegada.voo.origem }}</td>
                <td>{{ chegada.chegada_prevista |timezone:"America/Sao_Paulo" }}</td>
                <td>
                    {% if chegada.chegada_real == None %}
                    {% else %}
                    {{ chegada.chegada_real|timezone:"America/Sao_Paulo" }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <script src="{% static "index_clock.js" %}"></script>
{% endblock %}
