{% extends 'base.html' %}
{% load tz %}
{% block title %}
Movimentações
{% endblock %}

{% block content %}

{% include 'header.html' with return_url='/' name='Movimentações' description='Interface para atualização de estado de voos.'%}

<div class="container-fluid p-5">
    <table class="table table-striped table-hover">
        <tr>
            <th>Código do voo</th>
            <th>Partida prevista</th>
            <th>Partida real</th>
            <th>Chegada prevista</th>
            <th>Chegada real</th>
            <th>Estado atual</th>
        </tr>
        {% for instancia_voo in instancia_voo_list %}
        <tr>
            <td>{{ instancia_voo.voo.codigo }}</td>
            <td>{{ instancia_voo.partida_prevista|timezone:"America/Sao_Paulo" }}</td>
            <td>
                {% if instancia_voo.partida_real == None %}
                {% else %}
                {{ instancia_voo.partida_real|timezone:"America/Sao_Paulo" }}
                {% endif %}
            </td>
            <td>{{ instancia_voo.chegada_prevista|timezone:"America/Sao_Paulo" }}</td>
            <td>
                {% if instancia_voo.chegada_real == None %}
                {% else %}
                {{ instancia_voo.chegada_real|timezone:"America/Sao_Paulo" }}
                {% endif %}
            </td>
            <td>{{ instancia_voo.estado_atual.nome }}</td>
            <td class="d-flex justify-content-center">
                <a class="btn btn-secondary" href="/movimentacao/atualizar/{{ instancia_voo.id }}">Atualizar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
