{% extends 'base.html' %}
{% load static %}

{% block title%}
Relatório de partidas e chegadas
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid bg-primary pb-2">
    <div class="container">
        <h1 class="display-3 text-light">Relatório</h1>
        <p class="lead text-light">Partidas e chegadas por companhia aérea para o período especificado.</p>
    </div>
</div>

<div class="container mt-2">
    <button class="btn btn-primary my-2" id="download">Imprimir</button>
    <a class="btn btn-secondary my-2" href="/relatorio">Voltar</a>
    <div id="relatorio">
        <h1>Relatório de partidas e chegadas</h1>
        <h2>Período da busca</h2>
        <p><b>Início:</b> {{ str_data_inicio }}</p>
        <p><b>Fim:</b> {{ str_data_fim }}</p>
        <h2>Partidas</h2>
        <table class="table table-striped">
            <tr>
                <th>Companhia aérea</th>
                <th>Nº de partidas</th>
            </tr>
            {% for partida in partidas %}
            <tr>
                <td>{{ partida.voo__companhia_aerea__nome }}
                <td>{{ partida.total }}</td>
            </tr>
            {% endfor %}
        </table>

        <h2>Chegadas</h2>
        <table class="table table-striped">
            <tr>
                <th>Companhia aérea</th>
                <th>Nº de chegadas</th>
            </tr>
            {% for chegada in chegadas %}
            <tr>
                <td>{{ chegada.voo__companhia_aerea__nome }}
                <td>{{ chegada.total }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.min.js"></script>
<script src="{% static "pdf.js" %}"></script>
{% endblock %}
