{% extends 'base.html' %}
{% block title %}
Relatórios
{% endblock %}

{% block content %}

{% include 'header.html' with return_url='/' name='Relatórios' description='Formulário para geração de relatórios administrativos.' %}

<div class="container mt-3">
    <h2>Selecione um período de tempo:</h2>
    <form action="/relatorio/partidas-chegadas" method="post">
        {% csrf_token %}
        <div class="form-group">
        <label for="inputDataInicio">Data de início</label>
        <input type="date" class="form-control" id="inputDataInicio" name="inputDataInicio">
        </div>
        <div class="form-group">
            <label for="inputDataFim">Data de fim</label>
            <input type="date" class="form-control" id="inputDataFim" name="inputDataFim">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Gerar Relatório de Partidas e Chegadas</button>
        <button type="submit" class="btn btn-primary mt-3" formaction="/relatorio/movimentacoes">Gerar Relatório de Movimentações</button>
    </form>
</div>

{% endblock %}
